@media screen and (max-width: 576px) {
  .navbar-container {
    flex-direction: column;
    padding: 0px 20px;
    margin-top: 35px;
  }
  .nav-items-container {
    flex-direction: column;
    gap: 5px;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 0px 20px;
  }

  .banner-text {
    text-align: center;
  }
  .banner-heading {
    font-size: 1.75rem;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }
  .banner-img {
    margin-left: 0px;
  }

  .banner-img img {
    width: 100%;
  }

  .width {
    width: 100%;
  }

  .logo-container {
    margin: 50px 40px;
    gap: 20px;
  }

  .logo-container img {
    max-width: 100%;
  }

  .collection {
    margin: 0 15px;
  }

  .collection-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
