@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;400;500;600&family=Roboto:wght@300;400;500&display=swap");

:root {
  --poppins-font: Poppins;
  --para-font: 1rem;
  --small-heading: 1.75rem;
  --head-foot-heading: 1.5rem;
}

/* Header Starts */

/* navbar starts */

.navbar-container {
  display: flex;
  /* max-width: 1440px; */
  padding: 0px 120px;
  margin: 87px auto 0;
  justify-content: space-between;
  align-items: center;
}

.nav-items-container {
  display: flex;
  gap: 34px;
  align-items: center;
}

.navbar-container h1 {
  color: #3a3a3a;
  font-family: var(--poppins-font);
  font-size: var(--head-foot-heading);
  font-style: normal;
  font-weight: 700;
}

.nav-items-container li {
  list-style: none;
}

.nav-items-container a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: var(--poppins-font);
  font-size: var(--para-font);
  font-weight: 600;
}

/* navbar ends */

/* Header ends */
