@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;400;500;600&family=Roboto:wght@300;400;500&display=swap");

/* Shared section */
:root {
  --poppins-font: Poppins;
  --para-font: 1rem;
  --small-heading: 1.75rem;
  --head-foot-heading: 1.5rem;
  --inter-font: Inter;
  --roboto-font: Roboto;
}

* {
  margin: 0px;
}

/* Header Starts */

/* navbar starts */

.navbar-container {
  display: flex;
  margin: 87px auto 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}

.nav-items-container {
  display: flex;
  gap: 34px;
  align-items: center;
}

.navbar-container h1 {
  color: #3a3a3a;
  font-family: var(--poppins-font);
  font-size: var(--head-foot-heading);
  font-style: normal;
  font-weight: 700;
}

.nav-items-container li {
  list-style: none;
}

.nav-items-container a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: var(--poppins-font);
  font-size: var(--para-font);
  font-weight: 600;
}

/* navbar ends */

/* banner starts */

.banner {
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 0px 120px;
}

.banner-heading {
  color: #3a3a3a;
  font-family: var(--poppins-font);
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}

.banner-desc {
  color: #3a3a3a;
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 16px;
}

.banner-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
  color: #fff;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 24px;
}
.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 300px;
}
.width {
  width: 50%;
}

/* banner ends */

/* Header ends */

/* Main section starts */

/* logo section starts */

.logo-container {
  margin: 30px 165px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(192, 204, 218);
  border-bottom: 1px solid rgba(192, 204, 218);
  padding: 40px 0;
}
/* logo section ends */

/* Collection section starts */

.collection {
  margin: 0px 195px;
}

.collection-heading {
  color: #3a3a3a;
  font-family: var(--poppins-font);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.card {
  max-width: 330px;
  padding: 17px 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  margin-bottom: 16px;
}

.item-name {
  color: #18191f;
  font-family: var(--poppins-font);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 5px;
}

.item-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: var(--inter-font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
}

.rating-container {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.stars {
  color: #fb8200;
}

.rating {
  color: #5e6366;
  font-family: var(--roboto-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
}

.item-details {
  color: #787885;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
}

.see-more {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(224, 44, 109, 0.87);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  justify-content: right;
}

/* .abcd {
  display: flex;
  justify-content: right;
} */

/* Collection section ends */
